{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inspirations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="home-body">

    <div class = "home_header">
        <h1 class = 'home-h1'>inspirations</h1>
        <div class="home-text">find what inspires you, save it beautifully.</div>
        <br>
        <br>
        <a href="{% url 'signup' %}" ><button class = "btn home_btn">Sign Up</button></a>
        <a href="{% url 'login' %}"><button class = "btn home_btn">Sign In</button></a>
    </div>
    <div class="container">
        <div class="gallery">
            <figure class="gallery__item gallery__item--1">
                <img src="https://i.imgur.com/J9YuDpX.png" class="gallery__img" alt="Image 1">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="https://i.imgur.com/0ksr1KP.png" class="gallery__img" alt="Image 2">
            </figure>
            <figure class="gallery__item gallery__item--3">
                <img src="https://i.imgur.com/1WxhdbQ.png" class="gallery__img" alt="Image 3">
            </figure>
            <figure class="gallery__item gallery__item--4">
                <img src="https://i.imgur.com/SdS8O4S.png" class="gallery__img" alt="Image 4">
            </figure>
            <figure class="gallery__item gallery__item--5">
                <img src="https://i.imgur.com/5SRUjB1.png" class="gallery__img" alt="Image 5">
            </figure>
            <figure class="gallery__item gallery__item--6">
                <img src="https://i.imgur.com/1X0RL86.png" class="gallery__img" alt="Image 6">
            </figure>
        </div>
    </div>
</body>
</html>

