{% extends 'base.html' %}
{% block content %}

<h1 class="fw-light text-center">My Inspirations</h1>
<hr class="mt-2">

<div class="container">
    <div class="row text-center text-lg-start">
    {% for inspiration in inspirations %}
        {% for photo in inspiration.photo_set.all %}
            <div class="col-lg-3 col-md-4 col-6">
                <a href="{% url 'detail' inspiration.id %}" class="d-block mb-4 h-100">
                    <img class="img-fluid rounded mx-auto d-block" src="{{photo.url}}" alt="">
                </a>
            </div>
        {% empty %}
            <div class="col-lg-3 col-md-4 col-6">
                <a href="{% url 'detail' inspiration.id %}" class="d-block mb-4 h-100">
                    <img class="img-fluid rounded mx-auto d-block" src="https://i.imgur.com/OA95w1G.png" alt="">
                </a>
            </div>
            {% endfor %}
    {% endfor %}
    </div>
</div>
{% endblock %}