{% extends 'base.html' %}
{% block content %}
    <h1>My Inspiration</h1>

    {% for inspiration in inspirations %}
        <a href="{% url 'detail' inspiration.id %}">
            <div id="" class="card">
                <div id="" class="card-content">
                    <span id="" class="card-title">{{ inspiration.name }}</span>
                    <!-- <p>{{ inspiration.description }}</p> -->
                    <p>Description: {{ inspiration.description }}</p>
                </div>
            </div>
        </a>

    {% endfor %}

{% endblock %}