{% extends 'base.html' %}
{% block content %}
    <h1>My Galleries</h1>

    <!-- {% for gallery in galleries %}
        <a href="{% url 'detail' gallery.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ gallery.name }}</span>
                    <p>{{ gallery.description }}</p>
                    <p>Description: {{ cat.description }}</p>
                </div>
            </div>
        </a>

    {% endfor %} -->

{% endblock %}