{% extends 'base.html' %}

{% block content %}

<h1 class="fw-light text-center">{{ gallery.name }}</h1>
<hr class="mt-2">
<div class="gallery_detail"> 
    <div class="gallery_description">
        {{ gallery.description }}
    </div>
    <hr class="mt-2">
    <br>



    <div>inspirations that belong to this gallery will go here!!</div>


    <br>
    <hr class="mt-2">
    <a href="{% url 'galleries_update' gallery.id %}">
        <button class="btn cancel_btn">Edit</button>
    </a>
    <br><br>
    <a href="{% url 'galleries_delete' gallery.id %}">
        <button class="btn login_btn">Delete</button>
    </a>
</div> 
{% endblock %}