{% extends 'base.html' %}

{% block content %}

    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
                <h1 class="fw-light text-center">Add/Edit Inspiration</h1>
                <hr class="mt-2">
				<div class="d-flex justify-content-center">
					<form class= "mt-4" action="" enctype="multipart/form-data" method="post">
                        <div class="form-input">{% csrf_token %}</div>
                            {{ form.as_p }}
						<div class="d-flex justify-content-center login_container">
                            <input type="submit" value="Create" class="btn login_btn">
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}