{% extends 'base.html' %}
{% block content %}



{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class = "signup-form-container">
  <div class="d-flex justify-content-center">
    <div class="brand_logo_container">
      <img src="https://i.imgur.com/trhIG4h.png" class="brand_logo" alt="Logo">
    </div>
  </div>
</br>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </br>
    <div class="sign-up-button-container">
      <input type="submit" class="btn login_btn signup_button" value="Sign Up">
    </div>
  </form>
  <div class="mt-4">
    <div class="d-flex justify-content-center links">
      Have an account?  <a href="{% url 'login' %}" class="ml-2">&nbsp Sign In</a>
    </div>
</div>

{% endblock %}
